@page "/sources/vcs"

<BreadcrumbsComponent>
    <BreadcrumbItem>Sources</BreadcrumbItem>
    <BreadcrumbItem>Version Control Systems</BreadcrumbItem>
</BreadcrumbsComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add new</h6>
    </div>
    <div class="card-body">

        <EditForm Model="@Model" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />

            <FormGroup>
                <BlazorLabel>Endpoint</BlazorLabel>
                <InputText Class="form-control" bind-Value="@Model.Endpoint" />
                <ValidationMessage For="@(() => Model.Endpoint)" />
            </FormGroup>

            <FormGroup>
                <BlazorLabel>Api Key</BlazorLabel>
                <InputText Class="form-control" bind-Value="@Model.ApiKey" />
                <ValidationMessage For="@(() => Model.ApiKey)" />
            </FormGroup>

            <FormGroup>
                <BlazorLabel>Kind</BlazorLabel>
                <InputSelect Class="form-control" bind-Value="@Model.Kind">
                    <option selected>Select</option>
                    @foreach (VersionControlKind kind in Enum.GetValues(typeof(VersionControlKind)).Cast<VersionControlKind>())
                    {
                        <option value="@kind">@kind.ToString()</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Model.Kind)" />
            </FormGroup>

            <button type="submit" class="btn btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@functions
{
    [Inject] IVersionControlService VersionControlService { get; set; }

    VersionControlDto Model { get; set; } = new VersionControlDto();

    protected async Task Submit()
    {
        await VersionControlService.CreateVersionControl(Model);
    }
}