@page "/dependencies"
@inject HttpClient HttpClient
@inject IJSRuntime Runtime

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dependencies</li>
    </ol>
</nav>

<HeadingComponent Title="Dependencies"></HeadingComponent>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dependencies</h6>
    </div>
    <div class="card-body">
        @if (Items != null)
        {
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Kind</th>
                        <th>Assets</th>
                        <th>Versions</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Kind.ToString()</td>
                            <td>@item.Assets</td>
                            <td>@item.Versions</td>
                            <td>
                                <NavLink class="nav-link" href="@($"/dependencies/{item.DependencyId}/versions")" Match="NavLinkMatch.All">Versions</NavLink>
                                <NavLink class="nav-link" href="@($"/dependencies/{item.DependencyId}/assets")" Match="NavLinkMatch.All">Assets</NavLink>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
</div>
@functions {

    private DependencyDto[] Items { get; set; }

    protected override async Task OnInitAsync()
    {
        Items = await HttpClient.GetJsonAsync<DependencyDto[]>("/api/dependencies");
    }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
