@page "/data/vcs/{VersionControlId:guid}/repositories/{RepositoryId:guid}/frameworks/{FrameworkId:guid}"

<BreadcrumbsComponent VersionControlId="@VersionControlId" RepositoryId="@RepositoryId" FrameworkId="@FrameworkId" />

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Assets</h6>
    </div>
    <div class="card-body">
        <AssetsComponent FrameworkId="@FrameworkId" />
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Repositories</h6>
    </div>
    <div class="card-body">
        <RepositoriesComponent FrameworkId="@FrameworkId" />
    </div>
</div>

@functions 
{
    [Parameter] Guid? FrameworkId { get; set; }
    [Parameter] Guid? RepositoryId { get; set; }
    [Parameter] Guid? VersionControlId { get; set; }
}
