@inherits OwningComponentBase

<BSTable IsResponsive="true" IsSmall="true" IsStriped="true" IsBordered="true">
    <thead>
        <tr>
            <th>@nameof(AssetDependencyDto.Dependency)</th>
            <th>@nameof(AssetDependencyDto.Version)</th>
            <th>Is latest</th>
        </tr>
    </thead>
    <tbody>
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <tr>
                    <td><a href="@($"/data/dependencies/{item.DependencyId}")">@item.Dependency</a></td>
                    <td><a href="@($"/data/dependencies/{item.DependencyId}/versions/{item.DependencyVersionId}")">@item.Version</a></td>
                    <td>@item.IsLatest.ToYesNo()</td>
                </tr>
            }

            @if (Items.Count == 0)
            {
                <tr>
                    <td colspan="3">No asset dependencies found.</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    <LoaderComponent />
                </td>
            </tr>
        }
    </tbody>
</BSTable>

<PagerComponent Pager="Items" Page="@(async (p) => await PageAsync(p))"></PagerComponent>

@code
{
    [Parameter] public Guid? AssetId { get; set; }

    IAssetDependencyService Service { get; set; }
    IPaginatedList<AssetDependencyDto> Items { get; set; }

    protected override void OnInitialized()
    {
        Service = (IAssetDependencyService)ScopedServices.GetService(typeof(IAssetDependencyService));
    }

    protected async override Task OnParametersSetAsync()
    {
        await PageAsync(1);
    }

    async Task PageAsync(int page)
    {
        if (AssetId.HasValue)
        {
            Items = await Service.GetByAssetIdAsync(AssetId.Value, page);
            StateHasChanged();
        }
    }
}
