@inject IJSRuntime Runtime

<table class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
        <tr>
            <th>@nameof(AssetDto.Asset)</th>
            <th>@nameof(AssetDto.Dependencies)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.Asset</td>
                <td>@item.Dependencies</td>
                <td>
                    <nav class="nav">
                        <NavLink class="nav-link" href="@($"/data/assets/{item.AssetId}")">Asset</NavLink>
                        <NavLink class="nav-link" href="@($"/data/repositories/{item.RepositoryId}")">Repository</NavLink>
                    </nav>
                </td>
            </tr>
        }
    </tbody>
</table>

@functions 
{
    [Parameter] private AssetDto[] Items { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
