@inject IJSRuntime Runtime

<table class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
        <tr>
            <th>Endpoint</th>
            <th>Api Key</th>
            <th>Dependencies</th>
            <th>Kind</th>
            <th>Is Public</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
        <tr>
            <td>@item.Endpoint.</td>
            <td>@item.ApiKey</td>
            <td>@item.Dependencies</td>
            <td>@item.Kind.ToString()</td>
            <td>@item.IsPublic</td>
            <td>
                <NavLink class="nav-link" href="@($"/data/registries/{item.RegistryId}")">Details</NavLink>
            </td>
        </tr>
        }
    </tbody>
</table>

@functions
{
    [Parameter] private RegistryDto[] Items { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
