@inject IJSRuntime Runtime

<table class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
        <tr>
            <th>Version</th>
            <th>Latest</th>
            <th>Vulnerability</th>
            <th>Assets</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td><a href="@($"/data/dependencies/{item.DependencyId}/versions/{item.DependencyVersionId}")">@item.Version</a></td>
                <td>@item.IsLatest</td>
                <td>@item.VulnerabilityUrl</td>
                <td>@item.Assets</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@functions
{
    [Parameter] private DependencyVersionDto[] Items { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await Runtime.InvokeAsync<object>("dataTable");
    }
}
