<BlazorTable IsResponsive="true" IsSmall="true" IsStriped="true" IsBordered="true">
    <thead>
        <tr>
            <th>@nameof(AssetDto.Asset)</th>
            <th>@nameof(AssetDto.Repository)</th>
            <th>@nameof(AssetDto.Dependencies)</th>
        </tr>
    </thead>
    <tbody>
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <tr>
                    <td>
                        <a href="@($"/data/vcs/{item.VersionControlId}/repositories/{item.RepositoryId}/assets/{item.AssetId}")">@item.Asset</a>
                    </td>
                    <td>
                        <a href="@($"/data/vcs/{item.VersionControlId}/repositories/{item.RepositoryId}")">@item.Repository</a>
                    </td>
                    <td>@item.Dependencies</td>
                </tr>
            }
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </tbody>
</BlazorTable>

<PagerComponent Pager="Items" Page="@(async(p) => await PageAsync(p))"></PagerComponent>

@functions
{
    [Parameter] Guid? RepositoryId { get; set; }
    [Parameter] Guid? VersionControlId { get; set; }
    [Parameter] Guid? DependencyId { get; set; }
    [Parameter] Guid? VersionId { get; set; }
    [Parameter] Guid? FrameworkId { get; set; }

    [Parameter] bool Dependents { get; set; }

    [Inject] IAssetService Service { get; set; }

    IPaginatedList<AssetDto> Items { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await PageAsync(1);
    }

    async Task PageAsync(int page)
    {
        if (Dependents && RepositoryId.HasValue)
        {
            Items = await Service.GetDependentsByRepositoryId(RepositoryId.Value, page);
        }
        else if (RepositoryId.HasValue)
        {
            Items = await Service.GetByRepositoryIdAsync(RepositoryId.Value, page);
        }
        else if (VersionControlId.HasValue)
        {
            Items = await Service.GetByVersionControlIdAsync(VersionControlId.Value, page);
        }
        else if (DependencyId.HasValue)
        {
            Items = await Service.GetByDependencyIdAsync(DependencyId.Value, page);
        }
        else if(VersionId.HasValue)
        {
            Items = await Service.GetByVersionIdAsync(VersionId.Value);
        }
        else if (FrameworkId.HasValue)
        {
            Items = await Service.GetByFrameworkIdAsync(FrameworkId.Value, page);
        }
        else
        {
            Items = await Service.GetAsync(page);
        }

        StateHasChanged();
    }
}
