<table class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
        <tr>
            <th>@nameof(AssetDto.Asset)</th>           
            <th>@nameof(AssetDto.Repository)</th>
            <th>@nameof(AssetDto.Dependencies)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {              
            <tr>
                <td>
                    <a href="@($"/data/vcs/{item.VersionControlId}/repositories/{item.RepositoryId}/assets/{item.AssetId}")">@item.Asset</a>
                </td>
                <td>
                    <a href="@($"/data/repositories/{item.RepositoryId}")">@item.Repository</a>
                </td>
                <td>@item.Dependencies</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@functions 
{
    [Parameter] IEnumerable<AssetDto> Items { get; set; }

    [Inject] IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await JSRuntime.InvokeAsync<object>("dataTable");
    }
}
