<table class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
        <tr>
            <th>@nameof(AssetDependencyDto.Dependency)</th>
            <th>@nameof(AssetDependencyDto.Version)</th>
            <th>@nameof(AssetDependencyDto.IsLatest)</th>
            @*<th>Actions</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td><a href="@($"/data/dependencies/{item.DependencyId}")">@item.Dependency</a></td>
                <td><a href="@($"/data/dependencies/{item.DependencyId}/versions/{item.DependencyVersionId}")">@item.Version</a></td>
                <td>@item.IsLatest</td>
                @*<td></td>*@
            </tr>
        }
    </tbody>
</table>

@functions 
{
    [Parameter] IEnumerable<AssetDependencyDto> Items { get; set; }

    [Inject] IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await JSRuntime.InvokeAsync<object>("dataTable");
    }
}
