<BlazorTable IsResponsive="true" IsSmall="true" IsStriped="true" IsBordered="true">
    <thead>
        <tr>
            <th>Kind</th>
            <th>Build</th>
            <th>Web Url</th>
        </tr>
    </thead>
    <tbody>
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <tr>
                    <td class="@item.Kind.GetIconClass()">
                        @SvgService.GetSvg(item.Kind)
                    </td>
                    <td>@item.Name</td>
                    <td>
                        <a href="@item.WebUrl" target="_blank">@item.WebUrl (Open in new window)</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </tbody>
</BlazorTable>

@functions
{
    [Parameter] Guid RepositoryId { get; set; }

    [Inject] SvgService SvgService { get; set; }
    [Inject] ICiCdService CiCdService { get; set; }

    IEnumerable<CiCdBuildDto> Items { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Items = await CiCdService.GetBuildsByRepositoryIdAsync(RepositoryId);
        StateHasChanged();
    }
}
