<BlazorTable IsResponsive="true" IsSmall="true" IsStriped="true" IsBordered="true">
    <thead>
        <tr>
            <th>Version</th>
            <th>Latest</th>
            <th>Assets</th>
        </tr>
    </thead>
    <tbody>
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <tr>
                    <td><a href="@($"/data/dependencies/{item.DependencyId}/versions/{item.DependencyVersionId}")">@item.Version</a></td>
                    <td>@item.IsLatest</td>
                    <td>@item.Assets</td>
                </tr>
            }
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </tbody>
</BlazorTable>

<PagerComponent Pager="Items" Page="@(async(p) => await PageAsync(p))"></PagerComponent>

@functions
{   
    [Parameter] Guid? DependencyId { get; set; }
    [Inject] IDependencyVersionService Service { get; set; }

    IPaginatedList<DependencyVersionDto> Items { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await PageAsync(1);
    }

    async Task PageAsync(int page)
    {
        if(DependencyId.HasValue)
        {
            Items = await Service.GetByDependencyIdAsync(DependencyId.Value, page);
        }

        StateHasChanged();
    }
}
