<BlazorTable IsResponsive="true" IsSmall="true" IsStriped="true" IsBordered="true">
    <thead>
        <tr>
            <th>Kind</th>
            <th>Endpoint</th>
            <th>ApiKey</th>
            <th>Repositories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <tr>
                    <td class="@item.Kind.GetIconClass()">@SvgService.GetSvg(item.Kind)</td>
                    <td><a href="@($"/data/vcs/{item.VersionControlId}")">@item.Endpoint</a></td>
                    <td>@item.ApiKey</td>
                    <td>@item.Repositories</td>
                    <td>
                        <a href="@($"/sources/edit/vcs/{item.VersionControlId}")">Edit</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <LoaderComponent></LoaderComponent>
        }
    </tbody>
</BlazorTable>

<PagerComponent Pager="Items" Page="@(async(p) => await PageAsync(p))"></PagerComponent>

@functions
{
    [Inject] VersionControlsService Service { get; set; }
    [Inject] SvgService SvgService { get; set; }

    PaginatedList<VersionControlDto> Items { get; set; }

    protected override async Task OnInitAsync()
    {
        await PageAsync(1);
    }

    async Task PageAsync(int page)
    {
        Items = await Service.GetAsync(page);
    }
}
