<table class="table table-striped table-bordered table-sm" style="width: 100%">
    <thead>
        <tr>
            <th>Kind</th>
            <th>Endpoint</th>
            <th>ApiKey</th>
            <th>Repositories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
        <tr>
            <td class="@item.Kind.GetIconClass()">@SvgService.GetSvg(item.Kind)</td>
            <td><a href="@($"/data/vcs/{item.VersionControlId}")">@item.Endpoint</a></td>
            <td>@item.ApiKey</td>
            <td>@item.Repositories</td>
            <td>
                <a href="@($"/sources/edit/vcs/{item.VersionControlId}")">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@functions
{
    [Parameter] IEnumerable<VersionControlDto> Items { get; set; }

    [Inject] IJSRuntime JSRunTime { get; set; }
    [Inject] SvgService SvgService { get; set; }

    protected override async Task OnAfterRenderAsync()
    {
        await JSRunTime.InvokeAsync<object>("dataTable");
    }
}
